<form action='/<%= idea.id %>' method='POST'>
  <p>
    <% if idea.id %>
      <h2>Edit your Idea:</h2>
    <% else %>
      <h2>Your Idea:</h2>
    <% end %>
  </p>
  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <form role="form">
    <div class="form-group">
      <label for="ideaTitle">Idea Title</label>
      <input type='text' class="form-control" id="ideaTitle" placeholder="Enter your Idea Title" name='idea[title]' value="<%= idea.title %>"/><br/>
    </div>
    <div class="form-group">
      <label for="ideaDescription">Idea Description</label>
      <input type='text' class="form-control" id="ideaDescription" placeholder="Enter the Description" name='idea[description]' value="<%= idea.description %>"/><br/>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</form>
